html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.record_info_area {
    height: 80vh;
    width: 90vw;
}
.register_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 96%;
}
.register_signle_row {
    height: 10%;
}
.register_quadruple_row {
    height: 60%;
}
.register_players_area{
    height: 96%;
    width: 33%;
}
.register_record_weapon_name {
    width: 96%;
    height: 15%;
}
.register_record_weapon_name_input {
    width: 100%;
}
.register_record_image_area {
    height: 90%;
    width: 34%;
}
.register_record_loaded_image {
    max-width: 100%;
    max-height: 100%;
}