<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>登録</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./css/register.css" />
    </head>
    <body>
        <h1>登録</h1>
        <div class="record_info_area">
            <div class="register_signle_row register_row">
                <div class="register_record_cell">
                    <div>対戦日時</div>
                    <div>
                        <input type="datetime-local" id="register_record_date" placeholder="yyyy/mm/dd HH:mm">
                    </div>
                </div>
                <div class="register_record_cell">
                    <div>ステージ</div>
                    <div>
                        <datalist id="register_record_stage_list">
                        </datalist>
                        <input type="text" id="register_record_stage">
                    </div>
                </div>
                
                <div class="register_record_cell">
                    <div>勝敗</div>
                    <div>
                        <select id="register_record_result_input"></select>
                    </div>
                </div>
            </div>
            <div class="register_quadruple_row register_row">
                <div class="register_players_area">
                    <datalist id="register_record_weapons_list">
                    </datalist>
                    <div>
                        <input type="text" id="register_player_ally_1" placeholder="自分" list="register_record_weapons_list">
                    </div>
                    <div>
                        <input type="text" id="register_player_ally_2" placeholder="味方1" list="register_record_weapons_list">
                    </div>
                    <div>
                        <input type="text" id="register_player_ally_3" placeholder="味方2" list="register_record_weapons_list">
                    </div>
                    <div>
                        <input type="text" id="register_player_ally_4" placeholder="味方3" list="register_record_weapons_list">
                    </div>
                </div>
                <div class="register_players_area">
                    <div>
                        <input type="text" id="register_player_opponent_1" placeholder="対戦相手1" list="register_record_weapons_list">
                    </div>
                    <div>
                        <input type="text" id="register_player_opponent_2" placeholder="対戦相手2" list="register_record_weapons_list">
                    </div>
                    <div>
                        <input type="text" id="register_player_opponent_3" placeholder="対戦相手3" list="register_record_weapons_list">
                    </div>
                    <div>
                        <input type="text" id="register_player_opponent_4" placeholder="対戦相手4" list="register_record_weapons_list">
                    </div>
                </div>
                <div class="register_record_image_area">

                </div>
            </div>
            <div class="register_signle_row register_row">
                <input type="file" id="register_record_image" accept=".png,.jpg,.jpeg">
            </div>
            <div class="register_signle_row register_row">
                <div><button onclick="RegisterPage.save()">保存</button></div>
            </div>
        </div>
    </body>
</html>