<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>検索</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./css/search.css" />
    </head>
    <body>
        <h1>検索</h1>
        <div class="search_area">
            <div class="search_condition_area"></div>
            <div class="search_result_area">
                <div class="search_result_title_row">
                    <div>ID</div>
                    <div>日時</div>
                    <div>ルール</div>
                    <div>ステージ</div>
                    <div>勝敗</div>
                    <div></div>
                </div>
                <div class="search_result_item_area">
                    <div class="search_result_item_row">
                        <div>1</div>
                        <div>2023-07-06 21:00</div>
                        <div>エリア</div>
                        <div>マーケット</div>
                        <div>win</div>
                        <div><button>編集</button></div>
                    </div>
                </div>
            </div>
            <div class="search_pager_area"><!--TODO: add pager--></div>
        </div>
        <script src="/js/search.page.js"></script>
    </body>
</html>